.infoBlock {
    span {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        gap: 10px;

        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 120%;

        display: flex;
        align-items: center;
        letter-spacing: 0.01em;
        word-spacing: -0.03em;

        /* Base colors/navy-blue */
        color: #16103E;

        p {
            margin-bottom: 0;
            white-space: nowrap;
        }

        .illegal {
            color: #E92121;
        }

        .regulated {
            color: #3699C3;
        }

        .prohibited {
            color: #EE9440;
        }

        .legal {
            color: #3AAA38;
        }
    }

    .description {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;

        margin-top: 6px;
        margin-bottom: 12px;

        /* identical to box height, or 17px */
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;

        color: #000000;
    }

    .link {
        align-items: flex-start;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        text-decoration-line: underline;

        &::before {
            margin-right: 10px;

            content: url('../../accets/icons/link.svg');
        }
    }
}